<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хозяюшка</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>

        <div class='shapka'>

            <p class="logo_text">

                <img class="logo" src="free-icon-hostess-5120919.png" alt="Логотип "Хозяюшка">
    
                Хозяюшка

                <h2 class='title'>Главная</h2>
                <h2 class='title'>Рецепты</h2>
                <h2 class='title'>О нас</h2>
    
            </p>

        

        </div>

    </header>
</body>
</html>