<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хозяюшка</title>
    <link href="proba.css" rel="stylesheet">
</head>
<body>

  ‹div class="header"> 
    <img class="logo" src="image/noro-png" alt="logo">
    
    ‹div class="nav"> 
      <a class="sub_nav" href="zall.html">Наши залы</a>
      <a class="sub_nav" href="services.html">Услуги и цены</a>
      <a class="sub_nav" href="photografs.html">Фотографы</a>
      <a class="sub_nav" href="rules.html">Правила</a>
      <a class="sub_nav" href="contact.html">Контакты</a>
    </div>

  </div>

  
</body>
</html>