<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хозяюшка</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        
        <div class="logo">
          <a href='#'>
            <img class="logo" src="free-icon-hostess-5120919.png" alt="Логотип "Хозяюшка">
          </a>
        </div>


        <div class="title">
          <a href='#'>
            <h1>Хозяюшка</h1>
          </a>
        </div>

        <nav>
          <ul>
            <li><a href="#">Рецепты</a></li>
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
          </ul>
        </nav>



    </header>
</body>
</html>